asgiref==3.11.1
astroid==4.0.4
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
dill==0.4.1
Django==5.2.16
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
idna==3.18
inflection==0.5.1
isort==8.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
pillow==12.3.0
platformdirs==4.10.0
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.13.0
pylint==4.0.6
python-decouple==3.8
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
sqlparse==0.5.5
tomlkit==0.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
